<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
  <link href="css/style.css" rel="stylesheet">
    <!-- <style>
        body{
           background-image: url("../public/images/02d.jpg");
     height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
        }
    </style> -->
    <title>Weather</title>
</head>
<body style="background-image: url(<%=icon%>);" class="weather bg-[#7F8487] ">
    <div class="bg-[#413F42] text-center mx-auto my-16 py-16 px-24 w-fit rounded-2xl font-mono space-y-4">
        <img class="center z-10 w-36 bg-gray-300 rounded-2xl mx-auto" src=<%=imgURL%>>
        <p class="text-gray-300">The weather is <%= weatherdisc%>.</p>
        <p class="text-xl text-orange-400 ">The temprature of <%=city%>   is  <%=temp%>°C</p>
    </div>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script> -->
</body>
</html>